* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  box-sizing: border-box;
}
.container.img {
  padding: 30px;
  background-image: url('/public/fond-pokedex.jpeg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-attachment: fixed;
  height: 550px;
  margin-top: -60px;
}
.pokedex-container {
  padding: 10px;
  text-align: center;
  font-size: 40px;
}
.paginacion {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
.search {
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.container-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-select h3 {
  font-size: 33px;
}
input {
  border: 1px solid #e4f30b;
  padding: 10px;
  background-image: url("./input.jpg");
  background-position: 47% 43% ;
  color: #181616;
  font-family: 'Helvetica', sans-serif;
  border-radius: 50px;
}
.button-container {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(224,244,26,1) 100%);
  border: 2px solid #e74c3c;
  border-radius: 1em;
  color: #e74c3c;
  cursor: pointer;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10px;
  padding: 0.7em 0.5em;
  text-align: center;
}
button:hover,
button:focus {
  color: rgb(78, 78, 74);
  outline: 0;
}
.second {
  border-color: rgb(255, 174, 0);
  color: #423f3f;
  box-shadow: 0 0 40px 40px yellow inset, 0 0 0 0 rgb(236, 236, 113);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.second:hover {
  box-shadow: 0 0 10px 0 yellow inset, 0 0 10px 4px yellow;
}
.root{
  display: flex;
  justify-content: center;
}
.lov-Academlo{
  font-size: 30px;
  font-family:cursive;
}
.image-root{
  border-radius:80%;
  height: 80px;
  width: 80px;
}
@media(max-width:768px) {
  .pokedex-container {
    padding: 30px;
    font-size: 35px;
  }
  .paginacion{
    font-size: 27px;
  }
}
@media(max-width:576px) {
  .pokedex-container {
    padding: 20px;
    font-size: 30px;
  }
  .paginacion{
    font-size: 24px;
  }
}
@media(max-width:320px) {
  .pokedex-container {
    padding: 30px;
    font-size: 16px;
  }
  .paginacion{
    font-size: 12px;
    gap: 7px;
  }
  .container-select h3 {
    font-size: 23px;
  }
  input{
    font-size: 13px;
    background-position: 25% 43% ;
  }
  .button-container{
    font-size: 14px;
  }
}
