*{
    margin:0;
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
.pokedex-container {
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
.paginacion{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.search{
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.container-select{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container-select h3{
    font-size: 33px;

}

